# Python
*.pyc
__pycache__/
.venv/
venv/
*.egg-info/
dist/
build/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# macOS
.DS_Store

# Project specific
files/